<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>

        <File name="ErrorAppender" fileName="logs/errors.log">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss.SSS} %p %l [%t]%n %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <logger name="file">
            <appenderRef ref="ErrorAppender"/>
        </logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>

</Configuration>